//Background colors
$bg-body: #e5e5e5;
$bg-element: #fffefb;
$bg-btn: #7bae73;
$bg-btn-disabled: #eeeeee;

//Font colors
$color-primary: #3f3f3f;
$color-secondary: #49485e;
$color-muted: #b4b4b4;
$color-danger: #ff8484;

//Shadows
$shadow-block: 0px 20px 30px rgba(0, 0, 0, 0.04),
  0px 6px 10px rgba(0, 0, 0, 0.02);
$shadow-input: 0px 2px 5px rgba(0, 0, 0, 0.1);

//Radiuses
$radius-default: 4px;
$radius-higher: 10px;
